@import './styles/variables';
@import './styles/poppins-font';
@import './styles';

html, body, #root {
  height: 100%;
}

i {
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  padding: 2em;
}

@each $color, $value in $theme-colors {
  .watercolor-#{$color} {
    color: $value;
    background-color: rgba($value, .15);
  }
}

.lh-0 {
  line-height: 0;
}

.reset-text i {
  font-size: initial;
}