@import './styles/variables';
@import './styles/poppins-font';
@import './styles';

html, body, #root {
  height: 100%;
}

i {
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  padding: 2em;
}

.CardComponent:hover .bg-image {
  transform: scale(1.1);
}

.CardComponent .bg-image {
  transition: transform 200ms ease-in-out;
}

.CardComponent div.bg-image {
  aspect-ratio: 2 / 3;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@each $color, $value in $theme-colors {
  .watercolor-#{$color} {
    color: $value;
    background-color: rgba($value, .15);
  }
}

.lh-0 {
  line-height: 0;
}

.innerHTML i {
  font-size: initial;
}

.clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clamp5 {
  line-clamp: 5;
  -webkit-line-clamp: 5;
  min-height: 5rem;
}

.clamp2 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
  min-height: 2rem;
}

.badge {
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
}

.bg-danger-200 {
  background-color: #FEE6E5 !important;
}

.text-danger-600 {
  color: #DC3545 !important;
}

.absolute {
  position: absolute;
  width: 100%;
  top: 0;
  right: -100%;
  left: -100%;
  height: 100%;
  z-index: 0;
}

.gradient-top {
  background: #212529;
  background: linear-gradient(0deg,rgba(33, 37, 41, 0) 2%, rgba(33, 37, 41, 1) 100%) !important;
}

.gradient-bottom {
  background: #212529;
  background: linear-gradient(0deg,rgba(33, 37, 41, 1) 2%, rgba(33, 37, 41, 0) 100%) !important;
}

@media (min-width: 768px) {
  .page-inicio header.bg-dark {
    position: absolute;
    z-index: 2;
    width: 100%;

    background: #212529;
    background: linear-gradient(0deg,rgba(33, 37, 41, 0) 2%, rgba(33, 37, 41, 1) 100%) !important;
  }
}