@import './styles/variables';
@import './styles/poppins-font';
@import './styles';

html, body, #root {
  height: 100%;
}

i {
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  padding: 2em;
}

.CardComponent:hover .bg-image {
  transform: scale(1.1);
}

.CardComponent .bg-image {
  transition: transform 200ms ease-in-out;
}

.CardComponent div.bg-image {
  height: 235px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@each $color, $value in $theme-colors {
  .watercolor-#{$color} {
    color: $value;
    background-color: rgba($value, .15);
  }
}

.lh-0 {
  line-height: 0;
}

.innerHTML i {
  font-size: initial;
}

.clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.clamp5 {
  line-clamp: 5;
  -webkit-line-clamp: 5;
  min-height: 5rem;
}

.clamp2 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
  min-height: 2rem;
}

.badge {
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
}